/* Основной блок */
.aboutUs-cont {
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    font-family: montserratarm-light;
    padding: 2rem 1rem;
    position: relative; /* Добавлено для работы с абсолютным позиционированием иконок */
}

/* Заголовок для мобильных */
.aboutUs-cont-head h1 {
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
    font-family: montserratarm-regular;
    font-weight: 700;
    line-height: 1.2;
    padding-bottom: 1.5rem;
}

/* Сетка для мобильных устройств (1 колонка) */
.aboutUs-cont-details {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5rem;
    padding: 1rem;
}

.aboutUs-cont-details div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    box-shadow: 8px 10px 10px 3px rgba(58, 56, 64, 0.1);
    border-radius: 25px;
    position: relative; /* Относительное позиционирование для контейнера */
    /* padding: 2rem 0; */
    padding-top: 4rem;
    max-width: 300px;
    height: 280px;
    margin: 0 auto;
    padding: 0 1rem;

}

/* Иконки для мобильных */
.aboutUs-cont-details img {
    width: 60px;
    padding-bottom: 0.5rem;
    position: absolute; /* Абсолютное позиционирование иконок */
    top: -10%; /* Смещение вверх на 50% от высоты контейнера */
}

/* Заголовки и текст для мобильных */
.aboutUs-cont h2 {
    font-size: 1.3rem;
    color: black;
    font-family: montserratarm-regular;
    padding-top: 1rem;
}

.aboutUs-cont p {
    font-size: 1rem;
    color: #3A3840;
    line-height: 1.5;
}

/* Адаптация для планшетов и больших экранов */
@media (min-width: 768px) {
    .aboutUs-cont-head h1 {
        font-size: 1.8rem;
        max-width: 30rem;
    }

    .aboutUs-cont-details {
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
    }

    .aboutUs-cont-details img {
        width: 70px;
        /* position: static;  */
        top: -10%;
    }

    .aboutUs-cont h2 {
        font-size: 1.4rem;
    }

    .aboutUs-cont p {
        font-size: 1.1rem;
    }

    .aboutUs-cont-details div {
        padding: 0.5rem 0.5rem;
        min-height: 400px;
        min-width: 300px;
    }
}

/* Адаптация для десктопов */
@media (min-width: 1024px) {
    .aboutUs-cont {
        gap: 3rem;
        padding: 4rem 2rem;
    }

    .aboutUs-cont-head h1 {
        font-size: 2rem;
        max-width: 40rem;
    }

    .aboutUs-cont-details {
        width: 60%;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 4rem;
    }

    .aboutUs-cont-details img {
        width: 80px;
    }

    .aboutUs-cont h2 {
        font-size: 1.5rem;
    }

    .aboutUs-cont p {
        font-size: 1.3rem;
    }
}
