/* styles/catalog.css */
.productList-cont {
    width: 100%;
    background-color: #a3bbc2;
    padding: 2rem 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #3A3840;
}

.productList-cont h1 {
    font-size: 4rem; /* Меньше для мобильных */
    font-weight: 100;
    margin-bottom: 4rem;
}

.productList-cont h1 span {
    border: 1px solid #3A3840;
    border-radius: 30px;
    background-color: #3A3840;
    color: #D8D8D8;
    text-align: center;
    font-size: 1.5rem; /* Меньше для мобильных */
    padding: 1rem 6rem;
}

.productList-cont ul {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    margin-bottom: 2rem;
    list-style: none;
}

.productList-cont ul li {
    font-size: 1rem;
    padding: 0 2rem 1rem 2rem;
    border-bottom: 1px solid #D8D8D8;
    cursor: pointer;
    transition: color 0.3s, border-bottom-color 0.3s;
}

.productList-cont ul li:hover {
    border-bottom-color:#3A3840;
}

.itemCard {
    width: 100%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .productList-cont {
        padding: 3rem 2rem;
    }

    .productList-cont h1 {
        font-size: 3rem;
    }

    .productList-cont ul li {
        font-size: 1.4rem;
    }
}

@media (min-width: 1024px) {
    .productList-cont {
        padding: 4rem 3rem;
    }

    .productList-cont h1 {
        font-size: 4rem;
        margin-bottom: 10rem;
        margin-top: 5rem;
    }

    .productList-cont ul li {
        font-size: 1.2rem;
        font-weight: 100;
    }

    .itemCard {
        grid-template-columns: repeat(3, 1fr); /* 3 карточки в строке на больших экранах */
    }
    .productList-cont {
        color: #3A3840;
    }
}
