/* styles/customOffer.css */
.customOffer-cont {
    height: auto;
    width: 80%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    gap:2rem;
    margin: 0 auto;
    color: #3A3840;
}

@media (min-width: 768px) {

    .customOffer-cont > * {
        min-width: 300px; 
    }
    .customOffer-cont {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        width: 90%;
    }
}

@media (min-width: 1024px) {
    .customOffer-cont {
        padding: 2rem;
        padding: 0;
        gap: 4rem;
    }
}
