.informationPage-cont {
    background-color: #fff;
    width: 100%;
    padding: 2rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: montserratarm-light;
    text-align: center;
}

/* Стили для списка */
.informationPage-cont ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-size: 1.4rem;
    width: 100%;
    max-width: 25rem;
}

/* Стили для первого элемента списка */
.informationPage-cont ul li:first-child {
    font-size: 1.2rem;
    color: #fff;
    background-color: #3A3840;
    padding: 1rem;
    width: 100%;
    text-align: center;
    border-radius: 10px;
}

/* Общие стили для остальных пунктов списка */
.informationPage-cont ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: 600;
    line-height: 1.4;
}

/* Стили для текстов внутри каждого li */
.informationPage-cont ul span {
    font-weight: 600;
    font-size: 1.2rem;
    color: #505052;
}

/* Кнопка */
.informationPage-cont button {
    font-size: 1.2rem;
    padding: 0.8rem 1.5rem;
    border-radius: 20px;
    background-color: #3A3840;
    color: #fff;
    border: none;
    cursor: pointer;
}

/* Адаптация для планшетов */
@media (min-width: 768px) {
    .informationPage-cont {
        padding: 3rem 2rem;
    }

    .informationPage-cont ul {
        max-width: 30rem;
        font-size: 1.6rem;
        gap: 2.5rem;
    }

    .informationPage-cont ul li:first-child {
        font-size: 1.4rem;
    }

    .informationPage-cont ul span {
        font-size: 1.3rem;
    }

    .informationPage-cont button {
        font-size: 1.3rem;
        padding: 1rem 2rem;
    }
}

/* Адаптация для десктопов */
@media (min-width: 1024px) {
    .informationPage-cont {
        padding: 4rem 3rem;
    }

    .informationPage-cont ul {
        max-width: 40rem;
        font-size: 1.8rem;
        gap: 3rem;
    }

    .informationPage-cont ul li:first-child {
        font-size: 1.5rem;
    }

    .informationPage-cont ul span {
        font-size: 1.4rem;
    }

    .informationPage-cont button {
        font-size: 1.5rem;
        padding: 1.2rem 2.5rem;
    }
}
