.navbar {
    position: fixed;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    font-family: montserratarm-light;
    background: rgba(255, 254, 254,0.2);
    backdrop-filter: blur(2px);
    border-radius: 18px;
    transition: all 0.3s ease;
    max-width: 100%;
    min-width: 300px;
    padding: 1.2rem 0.8rem;
    font-size: 1rem;
}

.navbar-list {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    gap: 1rem;
}

.navbar-item a {
    display: inline-block;
    color: black;
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
    transition: color 0.2s, background-color 0.2s;
}


.top-button {
    display: none;
}

.mobile-only {
    display: none;
}

/* Стили для мобильных устройств */
@media (max-width: 768px) {
    .navbar {
        width: 100%;
        bottom: 0;
        left: 0;
        transform: none;
        padding: 1rem;
        background: none;  /* Убираем фон */
        border: none;
        backdrop-filter: none;
    }

    .navbar-list {
        justify-content: center;
    }

    .navbar-item a {
        padding: 0.7rem 1.5rem;
    }

    /* Прячем элементы, которые не нужны на мобильных устройствах */
    .desktop-only {
        display: none;
    }

    .mobile-only {
        display: inline;
        padding: 1rem 4rem 1rem 4rem;

    }
    .top-button,.navbar-item button,.navbar-item-order {
        display: grid;
        grid-template-columns:1fr 1fr;
        background: rgba(255, 254, 254,0.5);
        border: 1px solid rgba(255, 254, 254,0.5);
        padding: 1rem 4rem 1rem 4rem;
        border-radius: 30px;
        font-size: 1.3rem;
        text-align: center;
        justify-content: center;
        align-items: center;
        backdrop-filter: blur(10px);
    }
}


.navbar-item.active a {
    border-radius: 15px;
    background-color: rgb(255, 254, 254);
    border-color:  rgb(255, 254, 254);
    padding: 1rem 0.5rem;
}

.navbar-item-order a {
    background-color: #3A3840;
    border: 1px solid #3A3840;
    border-radius: 15px;
    padding: 0;
    margin: 0;
    padding: 0.8rem 0.5rem;
    list-style: none;
    color: rgb(255, 254, 254);
    text-decoration: none;
}

.navbar-item-order a:hover {
    background-color: rgb(255, 254, 254);
    border-color:  rgb(255, 254, 254);
    color: #3A3840;
}