.template1-details-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem;
    width: 60%;
    margin: 0 auto;
}


.template1 h2 {
    font-size: 2.5rem;
    font-family: 'Caveat', cursive;
    margin-top: 6rem;
    margin-bottom: 3rem;
}
.details-heading {
    font-weight: bold;
    text-transform: uppercase;
}

.fas {
    font-size: 2.5em;
    opacity: 0.8;
}

.details-background {
    width: 25rem;
    height: 30rem; 
    background-repeat: no-repeat;
    background-attachment: scroll;
    border-radius: 15px;
    position: relative; /* Это позволит нам позиционировать псевдоэлемент внутри контейнера */
    background-image: url('../../img/download.jpg'); /* Основное изображение фона */
    background-size: cover;
    background-position: center;
}

.details-background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../img/download.jpg'); /* Дублируем то же изображение */
    background-size: cover;
    background-position: center;
    transform: rotate(-10deg); /* Поворачиваем изображение на 90 градусов */
    border-radius: 15px;
    opacity: 0.1;
    z-index: 1; 
  }
/* Desktop View */
@media (min-width: 600px) {
    .fas {
        font-size: 3em;
    }
}
