.item-button {
    border: 1px solid #3A3840;
    border-radius: 25px;
    padding: 0.7rem;
    width: 7rem;
    background-color: transparent;
    color: #3A3840;
    transition:0.5s;
}

.item-button:hover {
    background-color: #3A3840;
    color: #D8D8D8;
}

.item-button-dark {
    background-color: #3A3840;
    color: #D8D8D8;
    font-family: montserratarm-light;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.item-button-dark:hover {
    color: #3A3840;
    background-color: inherit;
}