.video-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10; /* Убедитесь, что это перекрывает другие элементы */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7); /* Добавляем затемнение для видео */
}

.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Сохраняет пропорции и растягивает видео */
    z-index: -1; /* Чтобы кнопка оставалась поверх видео */
}

.enter-button {
    z-index: 1;
    position: relative;
    background-size: cover;
    width: 7rem; 
    height: 7rem;
    cursor: pointer;   
}

/* Адаптивность для мобильных устройств */
@media (max-width: 768px) {
  .enter-button {
    width: 5rem;
    height: 5rem;
  }
}

/* Адаптивность для крупных экранов */
@media (min-width: 1024px) {
  .enter-button {
    width: 9rem;
    height: 9rem;
  }
}
